@import "../styles/mixins";

.header {
  @include flex(flex-start);
}

.value {
  color: white;
  font-size: 20px;
}

.change {
  font-size: 12px;
  margin-left: 10px;
}
.chart {
  // height: 270px;
  height: 100%;
  @include mobile{
    height: 400px;
  }

}
.height100 {
  height: 100%;
}

.CzheaderGraph{padding:0;}